<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >
   <!--  
<resource-ref>
<res-ref-name>jdbc/Second</res-ref-name>
<res-type>javax.sql.DataSource</res-type>
<res-auth>Container</res-auth>
</resource-ref>
  -->
<servlet>
  <servlet-name>Zhuanjiamessage</servlet-name>
  <servlet-class>com.Servlet.ZhuanjiaAllmessageAction</servlet-class>
  </servlet>
<servlet-mapping>
	<servlet-name>Zhuanjiamessage</servlet-name>
	<url-pattern>/Zhuanjia/Home/Zhuanjiamessage</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>loginaction</servlet-name>
  <servlet-class>com.Servlet.LoginAction</servlet-class>
  </servlet>
<servlet-mapping>
	<servlet-name>loginaction</servlet-name>
	<url-pattern>/Zhuanjia/login</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>save</servlet-name>
  <servlet-class>com.Servlet.SavefileAction</servlet-class>
  </servlet>
<servlet-mapping>
	<servlet-name>save</servlet-name>
	<url-pattern>/Zhuanjia/Home/Savefile</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>down</servlet-name>
  <servlet-class>com.Servlet.DownfileAction</servlet-class>
  </servlet>
<servlet-mapping>
	<servlet-name>down</servlet-name>
	<url-pattern>/Zhuanjia/Home/Downaction</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>zhuceaction</servlet-name>
  <servlet-class>com.Servlet.ZhuceAction</servlet-class>
  </servlet>
<servlet-mapping>
	<servlet-name>zhuceaction</servlet-name>
	<url-pattern>/Zhuanjia/Home/zhuce</url-pattern>
</servlet-mapping>
</web-app>